{% macro render_help_post(post, from_index=false) %}
{% if from_index %}
        <!-- Section -->
            <section>
                <div class="image"><a href="{{ post|url }}"><img src="{% if post.preview %}{{ post.preview|url }}{% else %}/images/fragen.png{% endif %}" alt="" /></a></div>
                <div class="content">
                    <header class="major">
                        <h3><a href="{{ post|url }}">{{ post.title }}</a></h3>
                    </header>
                    {{ post.body }}
                </div>
            </section>
{% else %}
    <div class="blog-post">
        <header class="major special">
            <h1>{{ post.title }}</h1>{%
            if post.subtitle %}{{ post.subtitle }}{%
            endif %}
        </header>
        {{ post.content }}
        {% if post.code %}{{ post.code }}{% endif %}
        {% if post.content2 %}{{ post.content2 }}{% endif %}
    </div>{% endif %}
{% endmacro %}
