### Don't allow access to git directories
<IfModule alias_module>
    RedirectMatch 404 /\.git
</IfModule>

# Use HSTS
Header set Strict-Transport-Security "max-age=31556926"

# Prevent mime based attacks (IE and Chrome)
Header set X-Content-Type-Options "nosniff"

# Activate XSS Praeventions-/Filter-Tools
# Optional: mode=block
Header set X-XSS-Protection "1; mode=block"

# Limit frame/iframe Usage
Header append X-Frame-Options "SAMEORIGIN"

# Cookies only via SSL and and no Javascript-Access to them
# Optional: Expires, Max-Age, Path, Domain
Header always edit Set-Cookie (.*) "$1; HttpOnly; Secure"

# (Down-) Load only contents from allowed sources
Header set Content-Security-Policy "default-src 'none'; script-src 'self' 'unsafe-inline'; connect-src 'self'; img-src 'self' data:; style-src 'self' 'unsafe-inline'; font-src 'self';"

# Referrer Policy
Header set Referrer-Policy "origin-when-cross-origin"

# Feature Policy
Header always set Feature-Policy "geolocation 'none'; midi 'none'; camera 'none'; usb 'none'; magnetometer 'none'; accelerometer 'none'; vr 'none'; speaker 'none'; ambient-light-sensor 'none'; gyroscope 'none'; microphone 'none'"

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^index.php/doku.php https://freifunk-bodensee.net
    RewriteRule ^index.php/home/doku.php https://freifunk-bodensee.net
    RewriteRule ^router https://freifunk-bodensee.net/anleitung/router/
    RewriteRule ^flashen https://freifunk-bodensee.net/anleitung/flashen/
    RewriteRule ^news https://freifunk-bodensee.net/feed.xml
    RewriteRule ^doku.php?id=camp https://ffbsee.net/camp/
    RewriteRule ^spende https://freifunk-bodensee.net/helfen/
    RewriteRule ^blog/artikel-13 https://freifunk-bodensee.net/blog/eu-urheberrechtsreform

    ### Redirect certain domains to ffbsee.net
    RewriteCond %{HTTP_HOST} ^www\.ffbsee\.net [NC,OR]
    RewriteCond %{HTTP_HOST} ^freifunk-bodensee\.net [NC,OR]
    RewriteCond %{HTTP_HOST} ^www\.ffbsee\.de [NC,OR]
    RewriteCond %{HTTP_HOST} ^ffbsee\.de [NC,OR]
    RewriteCond %{HTTP_HOST} ^www\.freifunk-bodensee\.net [NC]
    RewriteRule (.*) https://ffbsee.net/$1 [R=302,L]
</IfModule>

# COMPRESSION WITH MOD_DEFLATE
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE image/svg+xml
    AddOutputFilterByType DEFLATE text/plain
    AddOutputFilterByType DEFLATE text/html
    AddOutputFilterByType DEFLATE text/xml
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE text/javascript
    AddOutputFilterByType DEFLATE application/xml
    AddOutputFilterByType DEFLATE application/xhtml+xml
    AddOutputFilterByType DEFLATE application/rss+xml
    AddOutputFilterByType DEFLATE application/atom_xml
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE application/x-javascript
    AddOutputFilterByType DEFLATE application/x-shockwave-flash
</IfModule>

# CACHE-DURATIONS
# turns cache on for 1 month
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType text/javascript "access plus 1 month"
    ExpiresByType text/html "access plus 1 hour"
    ExpiresByType application/javascript "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType image/svg+xml "access plus 1 month"
    ExpiresByType image/x-icon "access plus 1 month"
    ExpiresByType application/x-font-woff "access plus 1 month"
</IfModule>
<IfModule mod_headers.c>
    <filesmatch "\\.(ico|jpe?g|png|gif|swf)$">
    Header set Cache-Control "max-age=2592000, public"
    </filesmatch>
    <filesmatch "\\.(css|js|woff)$">
    Header set Cache-Control "max-age=604800, public"
    </filesmatch>
</IfModule>

