### Don't allow access to git directories
<IfModule alias_module>
    RedirectMatch 404 /\.git
</IfModule>


RewriteEngine On
RewriteRule ^index.php/doku.php https://www.freifunk-bodensee.net/index.html 
RewriteRule ^index.php/home/doku.php https://www.freifunk-bodensee.net/index.html 
RewriteRule ^router https://freifunk-bodensee.net/anleitung/router 
RewriteRule ^flashen https://freifunk-bodensee.net/anleitung/flashen 
RewriteRule ^news https://freifunk-bodensee.net/feed.xml 

RewriteRule ^camp https://mailingliste.ffbsee.net/doku.php?id=camp 
RewriteRule ^spende https://freifunk-bodensee.net/helfen 


