{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block meta %}
    <link rel="stylesheet" href="{{ '/css/fullcalendar.min.css'|url }}">
    <script src="{{ '/js/jquery-3.3.1.min.js'|url }}"></script>
    <script src="{{ '/js/lib/moment.min.js'|url }}"></script>
    <script src="{{ '/js/lib/fullcalendar.min.js'|url }}"></script>
    <script src="{{ '/js/lib/ical.min.js'|url }}"></script>
    <script src="{{ '/js/calendarview.js'|url }}"></script>
    <script src="{{ '/js/de.js'|url }}"></script>
    <link rel="stylesheet" href="{{ '/css/calendarview.css'|url }}">
    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                height: 1000,
                defaultView: 'month',
                timezone: 'local',
                weekends: true
            });
            $('#calendar').fullCalendar('addEventSource', ical_event_source('{% if this.kalender %}{{ this.kalender }}{%
                else %}https://bodensee.space/calendarfeeds/ffbseepublic.ics{% endif %}', 'green', ''));
            setInterval(() => $('#calendar').fullCalendar('refetchEvents'), 5 * 60 * 1000);
            setInterval(() => $('#calendar').fullCalendar('gotoDate', moment()), 30 * 60 * 1000);
        });
    </script>
{% endblock %}
{% block body %}
        <!-- Section -->
	    <section class="wrapper style1">
            <div class="inner">
                <header class="major special">
                    <h1>{{ this.title }}</h1>
                    {{ this.subtitle }}
                </header>
                {% if this.kalender %}<div id="calendar"><noscript>Bitte aktiviere JavaScript um den interaktiven Terminkalender zu nuzten.</noscript></div>
                {% endif %}
                {{ this.body }}
            </div>
        </section>

{% endblock %}
