<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Freifunk Bodensee{% endblock %} — ffbsee.net</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <link rel="stylesheet" href="{{ '/css/main.css'|url }}" />
    </head>
    <body class="is-preload">
        <div id="wrapper">
            <section id="header"{% if this._path == '/' %} class="alt"{% endif %}>
                <a href="/index.html" class="logo"><strong>Freifunk Bodensee</strong></a>
                
                <nav id="nav">
                    <ul>
                        <li{% if this._path == '/' %} class="current"{% endif
                            %}><a href="{{ '/'|url }}">Start</a></li>
                        {%  for href, title in [
                            ['/blog', 'Neuigkeiten'],
                            ['/anleitung', 'Anleitung'],
                            ['/kontakt', 'Kontakt'],
                            ['/faq', 'Antworten']
                            ] %}<li{%
                        if this.is_child_of(href) %} class="active"{% endif
                            %}><a href="{{ href|url }}">{{ title }}</a>{%
                        if title == 'Kontakt' %}
                                <ul>
                                    <li><a href="{{ '/impressum'|url }}">Impressum</a></li>
                                    <li><a href="{{ '/datenschutz'|url }}">Datenschmutz</a></li>
                                </ul>
                            {% endif %}</li>
                        {% endfor %}
                    </ul>
                </nav>
            </section>
    {% block body %}{% endblock %}
        <!-- Footer -->
            <section id="footer">
                <ul class="icons">{%
                    for label, icon, href in [
                        ['Twitter', 'fab fa-twitter', "https://twitter.com/@FFBSee"],
                        ['Mastodon', 'fab fa-mastodon', "https://chaos.social/@FFBSee"],
                        ['Facebook', 'fab fa-facebook', "https://www.facebook.com/freifunk.bodensee/"],
                        ['GitHub', 'fab fa-github', "https://github.com/ffbsee/"],
                        ['Firmware', 'fas fa-download', "https://firmware.ffbsee.de/"],
                        ['News', 'fas fa-rss', "/feed.xml"],
                        ['Mail', 'fas fa-envelope', "mailto:kommunikation@ffbsee.de"],
                        ['Mailingliste', 'fas fa-mail-bulk', "mailto:freifunk-bodensee@list.ffbsee.de"],
                        ['Forum', 'fas fa-comments', "https://forum.freifunk.net/c/community/freifunk-bodensee"],
                        ['Telefon', 'fas fa-phone', "tel:+4975449667222"]
                    ] %}
                    <li><a href="{{ href }}" title="{{ label }}" target="_blank" class="icon {{ icon }}"></a></li>{%
                    endfor %}
                </ul>
                <p class="copyright">
                &copy; Freifunk Bodensee |
                <a href="/datenschutz" style="border-bottom: none;">Datenschmutz</a> |
                <a href="/impressum" style="border-bottom: none;">Impressum</a>
                </p>
            </section>
        </div>

		<!-- Scripts -->
        <script src="{{ '/js/jquery.min.js'|url }}"></script>
        <script src="{{ '/js/jquery.dropotron.min.js'|url }}"></script>
        <script src="{{ '/js/jquery.scrollex.min.js'|url }}"></script>
        <script src="{{ '/js/jquery.scrolly.min.js'|url }}"></script>
        <script src="{{ '/js/browser.min.js'|url }}"></script>
        <script src="{{ '/js/breakpoints.min.js'|url }}"></script>
        <script src="{{ '/js/util.js'|url }}"></script>
        <script src="{{ '/js/main.js'|url }}"></script>
	</body>
</html>
