{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<!--
    <h2>{{ this.title }}</h2>
  {{ this.body }}
-->				<!-- Banner -->
					<section id="banner">
						<div class="content">
							<header class="major special">
								<h1>Ipsum dolor eu magna<br />
								consequat lorem</h1>
							</header>
							<ul class="actions special">
								<li><a href="#first" class="button primary wide scrolly">Get Started</a></li>
							</ul>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style1" id="first">
						<div class="inner">
							<header class="major special">
								<h2>Magna feugiat</h2>
								<p>Praesent dapibus neque id cursus faucibus consequat<br />
								magna consequat erat ipsum lorem</p>
							</header>
							<div class="spotlights">
								<section>
									<div class="image"><img src="images/pic01.jpg" alt="" /></div>
									<div class="content">
										<header class="major">
											<h3>Sed erat aenean</h3>
										</header>
										<p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas auguae magna consequat eu erat. Aliquam erat ipsum magna. Aenean ornare velit lacus varius enim ullamcorper proin magna etiam consequat.</p>
									</div>
								</section>
								<section>
									<div class="image"><img src="images/pic02.jpg" alt="" /></div>
									<div class="content">
										<header class="major">
											<h3>Ipsum eu varius</h3>
										</header>
										<p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas auguae magna consequat eu erat. Aliquam erat ipsum magna. Aenean ornare velit lacus varius enim ullamcorper proin magna etiam consequat.</p>
									</div>
								</section>
							</div>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style2 alt">
						<div class="inner">
							<header class="major special">
								<h2>Dolor feugiat</h2>
								<p>Praesent dapibus neque id cursus faucibus consequat<br />
  
  {% endblock %}
